 /* Tema claro por defecto */
body {
  background: #f9f9f9;
  color: #222;
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Tema oscuro */
body.dark {
  background: #121212;
  color: #eee;
}

button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  background: #4f46e5;
  color: white;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  background: #4338ca;
}
