

<form [formGroup]="form" (ngSubmit)="onGeneratePdf()" class="form">
  <h2>Recepción - Casa</h2>

  <label>Nombre / Cliente
    <input formControlName="nombre" />
  </label>

  <label>Dirección
    <input formControlName="direccion" />
  </label>

  <div class="row">
    <label>Fecha
      <input type="date" formControlName="fecha" />
    </label>
    <label>Recibe
      <input formControlName="recibe" />
    </label>
    <label>Entrega
      <input formControlName="entrega" />
    </label>
  </div>

  <label>Observaciones / Comentarios
    <textarea rows="3" formControlName="comentarios"></textarea>
  </label>

  <button class="buttonpdf" type="submit">Generar PDF</button>
</form>




<!-- 🔽 Esto es lo que se captura para el PDF -->
<div #actaPreview class="acta-a4">
  <header class="acta-header">
      <div class="folio-top" aria-hidden="true">02</div>
    <h1>Acta de Entrega - Casa</h1>

    <div class="meta">Fecha: {{ form.value.fecha }}</div>
  </header>

  <section class="acta-body">
    <p><strong>Nombre / Cliente:</strong> {{ form.value.nombre }}</p>
    <p><strong>Dirección:</strong> {{ form.value.direccion }}</p>
    <p><strong>Recibe:</strong> {{ form.value.recibe || '—' }}</p>
    <p><strong>Entrega:</strong> {{ form.value.entrega || '—' }}</p>
    <p><strong>Observaciones / Comentarios:</strong></p>
    <div class="box">{{ form.value.comentarios || '—' }}</div>
  </section>

  <footer class="firmas">
    <div class="firma">
      <div class="line"></div>
      <span>Firma Entrega</span>
    </div>
    <div class="firma">
      <div class="line"></div>
      <span>Firma Recibe</span>
    </div>
  </footer>
</div>
