<section class="home">
  <h1>Selecciona Tu Proyecto</h1>

  <div class="cards">
    <a routerLink="/form-casa" class="card">
      <div>🏠</div>
      <h2>Casa</h2>
      <p>Optimizado para recepción de proyectos de casas.</p>
    </a>

    <a routerLink="/form-edificio" class="card">
      <div>🏢</div>
      <h2>Edificio</h2>
      <p>Inspección completa de edificaciones.</p>
    </a>

    <a routerLink="/form-obras" class="card">
      <div>🛠️</div>
      <h2>Obras Civiles</h2>
      <p>Control de obras y proyectos de construcción.</p>
    </a>

    <a routerLink="/form-locales" class="card">
      <div>🏬</div>
      <h2>Locales Comerciales</h2>
      <p>Gestión de reparaciones y remodelaciones.</p>
    </a>
  </div>
</section>
