<div class="form-container">
  <h2><span class="material-icons">apartment</span>
Acta de Edificio</h2>

  <!-- Recibe -->
  <div class="form-field">
    <label for="recibe">Recibe</label>
    <input id="recibe" type="text" formControlName="recibe" placeholder="Ej: Raul Cid (Propietaria)" />
  </div>

  <!-- Entrega -->
  <div class="form-field">
    <label for="entrega">Entrega</label>
    <input id="entrega" type="text" formControlName="entrega" placeholder="Ej: Tomas Cid (Constructor o Maestro)" />
  </div>

  <!-- Dirección -->
  <div class="form-field">
    <label for="direccion">Dirección</label>
    <input id="direccion" type="text" formControlName="direccion" placeholder="Ej: Av Providencia #1111" />
  </div>

  <!-- Comuna -->
  <div class="form-field">
    <label for="comuna">Comuna</label>
    <input id="comuna" type="text" formControlName="comuna" placeholder="Ej: San Miguel" />
  </div>

  <!-- Fecha -->
  <div class="form-field">
    <label for="fecha">Fecha</label>
    <input id="fecha" type="date" formControlName="fecha" />
  </div>

  <!-- Trabajo realizado -->
  <div class="form-field">
    <label for="trabajo">Trabajo realizado</label>
    <input id="trabajo" type="text" formControlName="trabajo" placeholder="Ej: Remodelación Baño" />
  </div>

  <!-- Comentarios -->
  <div class="form-field">
    <label for="comentarios">Fallas / Acuerdos</label>
    <textarea id="comentarios" rows="3" formControlName="comentarios" placeholder="Aquí cualquier tipo de falla ..."></textarea>
  </div>
  
  <div class="form-actions flex gap-3 mt-6">
  <!-- Botón siguiente -->
  <button type="submit" [disabled]="form.invalid"
    class="flex items-center justify-center gap-2 px-5 py-2 rounded-lg bg-indigo-600 text-white font-medium hover:bg-indigo-700 disabled:opacity-50 disabled:cursor-not-allowed">
    <span class="material-symbols-outlined text-[22px] leading-none align-middle">arrow_forward</span>
    <span class="align-middle">Siguiente</span>
  </button>

 